<footer class="footer">
    <ul>
        <li>Built with:</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Mongoose</li>
        <li>CSS</li>
        <li>and more.</li>
    </ul>
</footer>