<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    
    <main>
        <div class="image-overlay"></div>
        <div class="actions">
            <a href="/signup" class="btn btn-primary">Sign up</a>
            <a href="/login" class="btn btn-default">Login</a>
        </div>
    </main>

<%- include('partials/end.ejs') %>
<%- include('partials/footer.ejs') %>